<form name="changePassword" action="/auth/changePassword/<%=token%>" method="post">
    new password: <input type="password" name="password" id="password" style="color: black;" /><br />
    <input type="submit" value="SIGN UP" class="btn btn-primary btn-lg"></input>
</form>