<form name="forgotPassword" action="/auth/forgotPassword" method="post">
    email: <input type="email" name="email" id="email" style="color: black;" /><br />
    <input type="submit" value="Reset password" class="btn btn-primary btn-lg"></input>
</form>