<form name="signUp" action="/auth/signUp" method="post">
    firstName: <input name="firstName" id="firstName" style="color: black;" /><br />
    lastName: <input name="lastName" id="lastName" style="color: black;" /><br />
    email: <input type="email" name="email" id="email" style="color: black;" /><br />
    username: <input name="username" id="username" style="color: black;" /><br />
    password: <input type="password" name="password" id="password" style="color: black;" /><br />
    <input type="submit" value="SIGN UP" class="btn btn-primary btn-lg"></input>
</form>